/* Themify Customize Styling */
body {	
	font-family:Open Sans;	font-weight:300;
 
}
h1 {	
	font-family:Open Sans;	font-weight:bold;
	font-size:80px;
 
}
h2 {	
	font-family:Open Sans;	font-weight:normal;

	color: #4d4d4d; 
}
#headerwrap {	
	background-color: #7d7a77; 
}
#header {	
	color: rgba(125,143,123,0.78); 
}
#headerwrap.fixed-header, .transparent-header #headerwrap.fixed-header {	
	background-color: rgba(125,121,118,0.51); 
}
#site-description {	display: none; 
}
#main-nav {		position:relative;

	top: 3px; 
}
#main-nav a {	
	font-family:Open Sans;	font-weight:300;
	font-size:16px;
 
}
#main-nav a, #main-nav > li > a {	
	color: #1f1c1c; 
}
#main-nav a:hover, #main-nav > li > a:hover {	
	color: #545151; 
}
#main-nav .current_page_item a, #main-nav .current-menu-item a, #main-nav > .current_page_item > a, #main-nav > .current-menu-item > a {	
	color: #fc5f41; 
}
#main-nav .current_page_item a:hover,  #main-nav .current-menu-item a:hover {	
	color: #6a6a6a; 
}
#footerwrap {	
	background-color: rgba(125,122,119,0.90); 
}
#footer {	
	color: #000000; 
}
#footer a {	
	color: #ffffff; 
}
#footer a:hover {	
	color: #d6593e; 
}
